<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de Usuarios por Nombre</title>
</head>
<body>
    <h1>Búsqueda de Usuarios por Nombre</h1>
    <form action="/search_user" method="post">
        <label for="query_name">Ingrese el nombre del usuario:</label>
        <input type="text" id="query_name" name="query_name" required>
        <button type="submit">Buscar</button>
    </form>
    <div id="user_info">
        {% if user_info is not none %}
            {% if user_info %}
                <h2>Información del Usuario</h2>
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Amount Insured</th>
                            <th>Email</th>
                            <th>Inception Date</th>
                            <th>Installment Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in user_info %}
                            <tr>
                                <td>{{ user['client_id'] }}</td>
                                <td>{{ user['amount_insured'] }}</td>
                                <td>{{ user['email'] }}</td>
                                <td>{{ user['inception_date'] }}</td>
                                <td>{{ user['installment_payment'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No se encontraron usuarios.</p>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
